{% load static %}


<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">


     <!-- icon -->
    <link rel = "stylesheet" href = "https://unicons.iconscout.com/release/v4.0.0/css/line.css" />


    <link href="{% static 'dist/output.css' %}" rel="stylesheet">

    <script>
        if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
          document.documentElement.classList.add('dark');
        } else {
          document.documentElement.classList.remove('dark');
        }
    </script>

    <title>Review Analyzer</title>

</head>
<body data-user-id = "{{ context.user_id }}">
    {% comment %} {% if messages %}
      <div id = "alert" class="alert text-red-700 mx-5 px-4 py-3 rounded relative text-center" role="alert">
        {% for message in messages %}
          <span class="block m-10 sm:inline">{{ message }}</span>
        {% endfor %}
      </div>

      <script>
        setTimeout(function() {
          document.querySelector('#alert').style.display = 'none';
        }, 3000);
      </script>
    {% endif %} {% endcomment %}

    <!-- Content -->
    {% block content %}

    
    {% endblock %}
    
    <script src= "{% static 'dist/script.js' %}"></script> 

</body>
</html>
