{% extends 'base.html' %}

{% load static %}


{% block content %}

    {% for message in messages %}
        <div class="message {{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}

    <section class = "home">
        <div class = "form_container">
            <div class = "form login_form">
                <form action  = "{% url 'login' %}" method = "POST">
                {% csrf_token %}

                    <h2>Login</h2>

                    <div class = "input_box">
                        <input type="username" name = "username" placeholder="Enter your username" id = "username" required/>
                       <i class = "uil uil-user username"></i>
                    </div>

                    <div class = "input_box">
                        <input type="password" name = "password" placeholder="Enter your password" id = "password" required/>
                        <i class = "uil uil-lock password"></i>
                        <i class = "uil uil-eye-slash pw_hide"></i>
                    </div>

                    
                    <button class ="button" id = "loginnow" type = "submit">Login Now</button>
                  

                    <div class="login_signup"> Don't have an account? 
                        <a href= "{%url 'signup'%}" id = "signup">Signup</a>
                    </div>
                </form>
            </div>
        </div>
    </section> 
{% endblock %}